[user]
	name = Shem Sedrick
	email = ssedrick1@gmail.com

[alias]
	c = commit
	co = checkout
	s = status
	com = checkout master
	sa = stash apply
	ph = push heroku production:master
	b = branch
	pfl = push --force-with-lease

[core]
	excludesfile = ~/.gitignore
[push]
	default = simple
